<tr>
  <td>
    <%= current_index @lessons.current_page, Settings.per_page.teachers.lesson,
      lesson_counter %>
  </td>
  <td><%= lesson.name %></td>
  <td><%= lesson.description %></td>
  <td><%= lesson.content %></td>
  <td>
    <div class="btn-group btn-group-xs">
      <%= render "shared/btn_show", object: lesson %>
      <%= link_to edit_teachers_course_lesson_path(course, lesson), class: "btn btn-warning" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to teachers_course_lesson_path(course, lesson),
        method: :delete, class: "btn btn-danger", data: {confirm: t("are_you_sure")} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </td>
</tr>
