<div>
  <%= link_to teachers_courses_path,
    class: "btn btn-default" do %>
    <i class="fa fa-chevron-left"></i> Khóa học
  <% end %>
</div>
<br>

<div>
  <%= link_to new_teachers_course_lesson_path,
    class: "btn btn-md btn-success" do %>
    <i class="gi gi-plus"></i> Thêm bài học
  <% end %>
</div>
<br>
<div class="clear-fix row">
  <%= search_form_for [:teachers, @course, @search], remote: :true, class: "row col-md-offset-2"  do |f| %>
    <div class="form-group col-md-8">
      <%= f.text_field :name_cont,
        placeholder: "Nhập tên bài học",
        class: "form-control" %>
    </div>
    <div class="col-md-1 btn btn-success" id="refresh-page-lesson"><i class=" fa fa-refresh"></i></div>
  <% end %>
</div>

<br>
<div class="row clear-fix col-center color-red" id="not-exist-lesson">
</div>
<div class="row clear-fix" id="list-lesson-search">
  <%= render "lesson" %>
</div>
<center id="load-page-lesson"><%= paginate @lessons %></center>
