<div>
  <!-- Page content -->
  <div id="page-content">
    <!-- Courses Header -->
    <br>
    <div>
      <%= link_to members_course_lessons_path(@course),
        class: "btn btn-default" do %>
        <i class="fa fa-chevron-left"></i> Danh sách bài học
      <% end %>
    </div>
    <br>
    <!-- END Courses Header -->

    <!-- Main Row -->
    <div class="row">
      <div class="col-md-8">
        <!-- Course Widget -->
        <div class="widget">
          <div class="widget-advanced">
            <!-- Widget Header -->
            <div class="widget-header text-center themed-background-dark">
              <h3 class="widget-content-light">
                <div> <%=  @course.type.category.name %></div>
                <div><h4>Khóa học <%= @course.name %><h4></div>
              </h3>
            </div>
            <!-- END Widget Header -->


            <!-- Widget Main -->
            <div class="widget-main">
              <a href="javascript:void(0)" class="widget-image-container animation-fadeIn">
                <span class="widget-icon themed-background"><i class="fa fa-globe"></i></span>
              </a>
              <!-- lesson content -->
              <div class="margin-left-10 margin-right-10">
                <div >
                  <div>
                    <center><h4><b><%= @lesson.name %></b></h4></center>
                  </div>

                  <br>

                  <div>
                    <%= raw @lesson.content %>
                  </div>
                </div>
              </div>
              <!-- end -->
            </div>
            <!-- END Widget Main -->
          </div>
        </div>
        <!-- END Course Widget -->
      </div>


      <!-- block-lesson -->
      <div class="col-md-4">
        <!-- About Block -->
        <div class="block">
          <!-- About Content -->
          <div class="block-section">
            <% if @course.room.present? %>
              <%= link_to publish_room_path(@course.room),
                  class: "btn btn-lg btn-info btn-block" do %>
                <i class="fa fa-play"></i>  Vào phòng học</a>
              <% end %>
            <% else %>
              <%= link_to "#",class: "btn btn-lg btn-info btn-block" do %>
                <i class="fa fa-play"></i>  Vào phòng học</a>
              <% end %>
            <% end %>

            <!-- btn  exam-->
            <% if @lesson.time_for_exam.blank? %>
              <%= link_to new_members_course_lesson_exam_path(@course, @lesson),
                class: "btn btn-lg btn-warning btn-block not-active-a" do %>
                <i class="fa fa-newspaper-o"></i>  Làm bài kiểm tra</a>
              <% end %>
            <% else %>
              <%= link_to new_members_course_lesson_exam_path(@course, @lesson),
                class: "btn btn-lg btn-warning btn-block" do %>
                <i class="fa fa-newspaper-o"></i>  Làm bài kiểm tra</a>
              <% end %>
            <% end %>

            <!-- btn  result-->
            <% if @lesson.exams.blank? %>
              <%= link_to members_course_lesson_exams_path(@course, @lesson),
                class: "btn btn-lg btn-success btn-block not-active-a" do %>
                <i class="fa fa-credit-card fa-fw"></i>  Kết quả</a>
              <% end %>
            <% else %>
              <%= link_to members_course_lesson_exams_path(@course, @lesson),
                class: "btn btn-lg btn-success btn-block" do %>
                <i class="fa fa-credit-card fa-fw"></i>  Kết quả</a>
              <% end %>
            <% end %>
          </div>
         <!--  <div class="block-section">
            <a href="javascript:void(0)" class="btn btn-lg btn-default btn-block"><i class="fa fa-file-pdf-o"></i>  Tải xuống</a>
          </div> -->
          <!-- END About Content -->
        </div>
        <!-- END About Block -->

        <!-- Share Block -->
       <!--  <div class="block">
          <div class="block-title">
            <h2><strong>Share</strong> Course</h2>
          </div>

          <div class="block-section text-center">
            <div class="btn-group">
              <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Facebook"><i class="si si-facebook"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Twitter"><i class="si si-twitter"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Google Plus"><i class="si si-google_plus"></i>
              </a>
              <a href="javascript:void(0)" class="btn btn-default" data-toggle="tooltip" title="Pinterest"><i class="si si-pinterest"></i>
              </a>
            </div>
          </div>
        </div> -->

        <!-- Your Account Block -->
       <!--  <div class="block">

          <div class="block-title">
            <div class="block-options pull-right">
              <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip"
              title="Settings">
                <i class="fa fa-cog"></i>
              </a>
            </div>
            <h2><strong>Account</strong> Status</h2>
          </div>

          <div class="block-section">
            <table class="table table-borderless table-striped table-vcenter">
              <tbody>
                <tr>
                  <td class="text-right" style="width: 30%;">
                    <img src="" alt="avatar" class="img-circle">
                  </td>
                  <td><a href="page_ready_user_profile.html"><strong>John Doe</strong></a>
                    <br><em>e-Learner</em>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">Account</td>
                  <td>
                    <strong>Basic</strong> <a href="page_ready_pricing_tables.html">Upgrade?</a>
                  </td>
                </tr>
                <tr>
                  <td class="text-right">Courses</td>
                  <td>
                    <i class="fa fa-plus fa-fw text-info"></i> <a href="javascript:void(0)"><strong>3</strong> New</a>
                    <br>
                    <i class="fa fa-heart fa-fw text-danger"></i> <a href="javascript:void(0)"><strong>5</strong> Favorites</a>
                    <br>
                    <i class="fa fa-check fa-fw text-success"></i> <a href="javascript:void(0)"><strong>10</strong> Completed</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div> -->

        <!-- <div class="block">

          <div class="block-title">
            <h2><strong>Most Viewed</strong> Courses</h2>
          </div>

          <table class="table table-striped table-vcenter">
            <tbody>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Intro to HTML5</a>
                  <br>
                  <small>Web Design</small>
                </td>
                <td class="text-center" style="width: 70px;">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Vector Graphics</a>
                  <br>
                  <small>Design &amp; Illustration</small>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Using Cinema 4D</a>
                  <br>
                  <small>3D & Motion Graphics</small>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Intro to Illustrator</a>
                  <br>
                  <small>Design &amp; Illustration</small>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Photoshop for Photographers</a>
                  <br>
                  <small>Photography</small>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Learn Javascript in a Month</a>
                  <br>
                  <small>Code</small>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Intro to Lightroom</a>
                  <br>
                  <small>Photography</small>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Learn CSS3 in a Week</a>
                  <br>
                  <small>Web Design</small>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="page_ready_elearning_course_lessons.html">Jquery: The Essentials</a>
                  <br>
                  <small>Code</small>
                </td>
                <td class="text-center">
                  <div class="btn-group btn-group-xs">
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a>
                    <a href="javascript:void(0)" class="btn btn-default"><i class="fa fa-heart text-danger"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->



      </div>
    </div>
    <!-- END Main Row -->
  </div>
  <!-- END Page Content -->

  <!-- Footer -->
  <!-- <footer class="clearfix">
    <div class="pull-right">
      Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://goo.gl/vNS3I"
      target="_blank">pixelcave</a>
    </div>
    <div class="pull-left">
      <span id="year-copy"></span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank">ProUI 3.0</a>
    </div>
  </footer> -->
  <!-- END Footer -->
</div>
<!-- END Main Container -->
</div>
<!-- END Page Container -->
</div>
