<script type="text/javascript">
  document.onkeydown = function(){
  switch (event.keyCode){
        case 116 : //F5 button
            event.returnValue = false;
            event.keyCode = 0;
            return false;
        case 82 : //R button
            if (event.ctrlKey){
                event.returnValue = false;
                event.keyCode = 0;
                return false;
            }
    }
}
</script>

<div class="row margin-top-20 margin-bottom-20">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <center><h3 class="panel-title">Bài kiểm tra</h3></center>
      </div>
      <div class="panel-body">
        <div>
          <%= form_for [:students, @course, @lesson, @exam] do |f| %>

            <div class="form-group">
              <center>
                <span><h4>Chủ đề: <%= @exam.name %></h4></span>&nbsp;&nbsp;&nbsp;
                <span><i>Thời gian: <%= l @exam.lesson.time_for_exam.time, format: :format_time %></i></span>
              </center>
            </div>

            <%= f.fields_for :results do |ff| %>
              <div class="clear-fix answers-form">
                <div class="form-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">Câu <%= ff.index + 1 %>: &nbsp;<%= ff.object.question.name %></div>
                    <div class="panel-body">
                      <% count = ff.object.question.answers.select{|k| k.is_correct == true} %>
                      <% if count.length > 1 %>
                        <ol class="upper-alpha">
                        <%= ff.collection_check_boxes(:answer_ids, ff.object.question.answers, :id, :name) do |k| %>
                          <li>
                            <%= k.label(class: "font-weight-default") {k.check_box(class: "margin-right-10") + k.text} %>
                          </li>
                        <% end %>
                        </ol>
                      <% else %>
                        <ol class="upper-alpha">
                        <% ff.object.question.answers.each do |answer| %>
                          <li>
                            <input type="radio" value="<%= answer.id %>" name="exam[results_attributes][<%= ff.index %>][answer_ids][]" id="exam_results_attributes_<%= ff.index %>_answer_ids_<%= answer.id %>">
                            &nbsp;&nbsp;
                            <%= answer.name %>
                          </li>
                        <% end %>
                        </ol>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="form-group" >
              <div class="col-md-4 col-md-offset-4">
                <%= f.submit "Nộp bài",
                  class: "btn btn-primary form-control" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
