<div class="page-content">
  <div class="form-horizontal">
    <div class="panel panel-info">
      <div class="panel-heading">
        <center><h3 class="panel-title">Thay đổi mật khẩu</h3></center>
      </div>
      <div class="panel-body">
        <%= form_for resource, as: resource_name,
          url: registration_path(resource_name),
          html: {method: :put, class: "changed-password"} do |f| %>
          <ul class="text-red col-md-offset-3">
            <% resource.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
          <div class="form-group">
            <%= f.label :password, value: "Mật khẩu mới", class: "col-md-4 control-label" %>
            <div class="col-md-5 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="gi gi-asterisk"></i>
                </span>
                <%= f.password_field :password, autocomplete: "off",
                  class: "form-control", placeholder: "Nhập mật khẩu mới" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, value: "Nhập lại mật khẩu",
              class: "col-md-4 control-label" %>
            <div class="col-md-5 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="gi gi-asterisk"></i>
                </span>
                <%= f.password_field :password_confirmation,
                  autocomplete: "off", class: "form-control",
                  placeholder: "Nhập lại mật khẩu" %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :current_password, value: "Mật khẩu hiện tại", class: "col-md-4 control-label" %>
            <div class="col-md-5 inputGroupContainer">
              <div class="input-group">
                <span class="input-group-addon">
                  <i class="gi gi-asterisk"></i>
                </span>
                <%= f.password_field :current_password,
                  autocomplete: "off", class: "form-control",
                  placeholder: "Nhập mật khẩu hiện tại" %>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-offset-4">
              <%= f.submit "Thay đổi mật khẩu", class: "btn btn-primary col-md-5" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
