<%= javascript_include_tag "date", "data-turbolinks-track": true %>
<div class="container form-horizontal">
  <div class="clearfix"></div>
  <div class="row">
    <%= form_for [:teachers, @user] do |f| %>
      <div class="col-md-4 col-sm-6 col-xs-12 row">
        <div class="text-center col-md-12">
          <%= image_tag @user.avatar.url, class: "height-250" %>
          <%= f.file_field :avatar, accept: Settings.image_format_accept %>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
        <div class="form-group">
          <%= f.label :name,  t("dashboard.users.name"),
            class: "col-md-3 control-label" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="gi gi-user"></i>
              </div>
              <%= f.text_field :name, class: "form-control",
                placeholder: t("name") %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email,  t(".email"),
            class: "col-md-3 control-label" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="gi gi-envelope"></i>
              </div>
              <%= f.text_field :email, class: "form-control",
                placeholder: t("email") %>
            </div>
          </div>
        </div>

        <div class="fix-clear form-group">
          <%= f.label :number_of_phone, t(".number_of_phone"), class: "col-md-3 control-label field-compulsory-before" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="hi hi-earphone"></i>
              </div>
              <%= f.text_field :number_of_phone, class: "form-control",
                placeholder: t("number_of_phone") %>
            </div>
          </div>
        </div>

        <div class="fix-clear form-group">
          <%= f.label :address, t(".address"), class: "col-md-3 control-label field-compulsory-before" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="gi gi-home"></i>
              </div>
              <%= f.text_field :address, class: "form-control",
                placeholder: t("address") %>
            </div>
          </div>
        </div>

        <div class="fix-clear form-group">
          <%= f.label :gender, t("dashboard.users.gender"),
            class: "col-md-3 control-label" %>
          <div class="col-md-5 select-container">
            <% User.genders.keys.each do |key| %>
              <%= f.radio_button :gender, key %>
              <%= t "dashboard.users.#{key}" %>
              &nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
          </div>
        </div>

        <div class="fix-clear form-group">
          <%= f.label :role, t("dashboard.users.gender"),
            class: "col-md-3 control-label" %>
          <div class="col-md-5 select-container">
            <% User.roles.keys.each do |key| %>
              <%= f.radio_button :role, key %>
              <%= t "dashboard.users.#{key}" %>
              &nbsp;&nbsp;&nbsp;&nbsp;
            <% end %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :birthday, t("dashboard.users.birthday"),
            class: "col-md-3 control-label" %>
          <div class="col-md-5">
            <div class="input-group">
              <div class="input-group-addon">
                <i class="gi gi-birthday_cake"></i>
              </div>
                <%= f.text_field :birthday,
                 value:(l @user.birthday, format: :date_month_year_v1 if @user.birthday.present?),
                  class: "form-control datepicker",
                  placeholder: t("year_month_date_picker") %>
            </div>
          </div>
        </div>
        <div class="fix-clear form-group row">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-5">
            <%= f.submit "create", class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
