<tr>
  <td>
    <%= current_index @users.current_page, Settings.per_page.teachers.user,
      user_counter %>
  </td>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= l user.birthday, format: :date_month_year_v1 if user.birthday.present? %></td>
  <td><%= user.number_of_phone %></td>
  <td><%= user.address %></td>
  <td>
    <div class="btn-group btn-group-xs">
      <%= link_to edit_teachers_user_path(user), class: "btn btn-warning" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to teachers_user_path(user),
        method: :delete, class: "btn btn-danger", data: {confirm: t("are_you_sure")} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </td>
</tr>
