<div class="clear-fix answers-form">
  <div class="form-group">
    <%= f.label :name, class: "control-label kakaka" %>
    <div>
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-1">
      <%= f.check_box :is_correct %>
    </div>
    <%= f.label :true, class: "col-md-3 control-label" %>
    <div class="col-md-4 remove-answer">
      <%= link_to_remove_fields_answer "remove", f %>
    </div>
  </div>
</div>
