<tr>
  <td>
    <%= current_index @questions.current_page, Settings.per_page.teachers.question,
      question_counter %>
  </td>
  <td><%= question.name %></td>
  <td>
    <div class="btn-group btn-group-xs">
      <%= render "shared/btn_show", object: question %>
      <%= link_to edit_teachers_course_lesson_question_path(course, lesson, question),
        class: "btn btn-warning" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to teachers_course_lesson_question_path(course, lesson, question),
        method: :delete, class: "btn btn-danger", data: {confirm: "Bạn có chắc chắn muốn xóa không ?"} do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </td>
</tr>
