<div>
  <%= link_to teachers_course_lessons_path(@course),
    class: "btn btn-default" do %>
    <i class="fa fa-chevron-left"></i> Danh sách bài học
  <% end %>
</div>
<br>

<div class="row">
  <div class="col-md-4 row" style="margin: 10px">
    <div class="panel panel-info">
      <div class="panel-heading">
        <center><h3 class="panel-title">Tạo câu hỏi</h3></center>
      </div>
      <div class="panel-body">
        <div>
          <%= form_for [:teachers, @course, @lesson, @question] do |f| %>
            <div class="form-group">
              <div>
                <%= render "shared/error_messages", object: f.object %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :name_question, value: "Câu hỏi", class: "control-label" %>
              <div>
                <%= f.text_field :name, class: "form-control" %>
              </div>
            </div>

            <%= f.fields_for :answers do |ff| %>
              <div class="clear-fix answers-form">
                <div class="form-group">
                  <%= ff.label :answer, value: "Đáp án #{ff.index + 1}:", class: "control-label kakaka" %>
                  <div>
                    <%= ff.text_field :name, class: "form-control" %>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-1">
                    <%= ff.check_box :is_correct %>
                  </div>
                  <%= ff.label :true, value: "Đúng", class: "col-md-3 control-label" %>
                  <div class="col-md-4 remove-answer">
                    <%= link_to_remove_fields_answer "Xóa", ff %>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="clear-fix form-group add-answer">
              <%= link_to_add_fields "Thêm", f, :answers,
                class: "btn btn-sm btn-primary fa fa-plus" %>
            </div>

            <div class="form-group" >
              <div class="col-md-5 col-md-offset-3">
                <%= f.submit "Tạo",
                  class: "btn btn-primary form-control" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="clear-fix col-md-12 row btn-group">
      <%= search_form_for [:teachers, @course, @lesson, @search], remote: :true, class: "row"  do |f| %>
        <div class="form-group col-md-10">
          <%= f.text_field :name_cont,
            placeholder: "Nhập tên câu hỏi",
            class: "form-control" %>
        </div>
        <div class="col-md-1 btn btn-success" id="refresh-page"><i class=" fa fa-refresh"></i></div>
      <% end %>
    </div>

    <div class="clear-fix row col-center color-red" id="not-exist-question">
    </div>
    <div id="list-question-search">
      <%= render "table_question" %>
    </div>
  </div>
</div>

<div class="modal_show_details">
  <%= render "shared/model_show" %>
</div>
