<div class="container row">
  <div class="col-md-9">
    <div><b><%= @post.title %></b></div>
    <div>
      <div style="float: left">
        date: <%= @post.created_at %>
      </div>
     <div style="color: #9b9b9b; float: right">
        <i class="fa fa-eye"></i> 72 &nbsp;&nbsp;&nbsp;
        <i class="fa fa-comment"></i> 72 &nbsp;&nbsp;&nbsp;
        <%= link_to edit_member_post_path(@post), class: "btn btn-sm btn-info" do %>
          Edit
        <% end %>
      </div>
    </div>
    <div class="clear-float row">
      <%= @post.content %>
    </div>
    <%= form_for [:member, @post, @comment], remote: true do |f| %>
      <div class="form-group">
        <div class="col-md-offset-3">
          <%= render "shared/error_messages", object: f.object %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :content, class: "col-md-3 control-label" %>
        <div class="col-md-5">
          <%= f.text_field :content, class: "form-control" %>
        </div>
      </div>
    <% end %>
    <br>
    <br>
    <div class="form-group">
      <ul id="comments">
        <%= render partial: "comment", collection: @comments %>
      </ul>
    </div>
  </div>
  <div class="col-md-3">
    <br>
    <br>
    <br>
    <div>
      Đánh giá:<%= rating_for @post, "visual_effects", enable_half: true, star: 5 %>
    </div>
    <br>
    <div>
      Chia sẻ: <%= social_share_button_tag(@post.title) %>
    </div>

  </div>
</div>
