<div class="login-title text-center">
  <h1>
    <i class="gi gi-flash"></i>
    <strong><%= t "workspace"%> </strong>
    <br>
    <small>
      <%= t "please" %>
      <strong><%= t "enter_password_new" %></strong>
    </small>
  </h1>
</div>

<div class="block push-bit">
  <%= form_for resource, html: {class: "form-horizontal login-title bg-white",
    method: :put},as: resource_name,
    url: password_path(resource_name) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <%= render "shared/error_mesages_devise", resource: resource %>

    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-asterisk"></i>
          </span>
          <div>
            <%= f.password_field :password, autofocus: true,
              class: "form-control", placeholder: t("new_password") %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-asterisk"></i>
          </span>
          <div>
            <%= f.password_field :password_confirmation, autofocus: true,
              class: "form-control", placeholder: t("password_confirmation") %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-actions" style="margin-left: 15px; margin-right: 15px">
      <div class="col-xs-8 text-right">
        <%= f.submit t("reset_password"), class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
