<div class="login-title text-center">
  <h1>
    <i class="gi gi-flash"></i>
    <strong>Vui lòng nhập mật khâu mới</strong>
</div>

<div class="block push-bit" style="margin-bottom: 0 !important">
  <%= form_for resource, html: {class: "form-horizontal login-title bg-white",
    method: :put},as: resource_name,
    url: password_path(resource_name) do |f| %>
    <%= f.hidden_field :reset_password_token %>
    <%= render "shared/error_mesages_devise", resource: resource %>

    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-asterisk"></i>
          </span>
          <div>
            <%= f.password_field :password, autofocus: true,
              class: "form-control", placeholder: "Nhập mật khẩu mới" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-asterisk"></i>
          </span>
          <div>
            <%= f.password_field :password_confirmation, autofocus: true,
              class: "form-control", placeholder: "Xác nhận mật khẩu" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group form-actions" style="margin-left: 15px; margin-right: 15px">
      <div class="col-xs-8 text-right">
        <%= f.submit "Cập nhật mật khẩu", class: "btn btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
