<% provide :title, "Danh sách danh mục" %>
<%= link_to new_admins_category_path,
  class: "btn btn-sm btn-success" do %>
  <i class="gi gi-plus"></i> Thêm danh mục
<% end %>
<br>
<br>
<div class="clear-fix panel panel-default">
  <div class="panel-heading">Tìm kiếm</div>
  <div class="panel-body">
    <%= search_form_for [:admins, @search], class: "row col-md-offset-2", remote: true do |f| %>
      <div class="form-group col-md-8">
        <%= f.text_field :name_or_description_cont,
          placeholder: "Nhập tên danh mục hoặc mô tả",
          class: "form-control" %>
      </div>
      &nbsp;&nbsp;
      <%= link_to admins_categories_path do %>
        <i class="fa fa-refresh btn btn-success"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row clear-fix col-center color-red" id="not-exist-categories-search">
    </div>
    <div class="table-responsive" id="list-categories-search">
      <%= render "table_category" %>
    </div>
  </div>
</div>
 <div class="modal_show_details"><%= render "shared/model_show" %></div>
