<tr>
  <td class="width-5-pc col-center">
    <%= current_index @courses.current_page, Settings.per_page.teachers.course,
      course_counter %>
  </td>
  <td><%= course.name %></td>
  <td><%= course.description %></td>
  <td class="width-10-pc col-center">
    <%= image_tag course.image.url, class: "height-80" %>
  </td>
  <td class="width-10-pc col-center"><%= course.owner_name %></td>
  <td class="width-10-pc col-center"><%= course.approver_name %></td>
  <td class="width-10-pc col-center">
    <span class="label <%= label_css(course) %>">
      <%= t "admin.courses.#{course.status}" %>
    </span>
  </td>
  <td class="width-20-pc col-center">
    <div class="btn-group btn-group-xs">
      <%= render "shared/request/action", request: course %>
      <%= render "shared/btn_show", object: course %>
      <% if course.pending? %>
        <%= link_to teachers_course_path(course),
          method: :delete, class: "btn btn-danger",
          data: {confirm: "Bạn có chắc chắn muốn xóa không?"} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
