<div class="panel panel-info">
  <div class="panel-heading">
    <center><h3 class="panel-title">Chi tiết khóa học</h3></center>
  </div>
  <div class="panel-body">
    <div class="row">
      <table class="table margin-bottom-0">
        <tbody>
          <tr>
            <td>Tên</td>
            <td><%= @course.name %></td>
          </tr>
          <tr>
            <td>Mô tả</td>
            <td><%= @course.description %></td>
          </tr>
          <tr>
            <td>Người xác nhận</td>
            <td><%= @course.approver_name %></td>
          </tr>
          <tr>
            <td>Giáo viên</td>
            <td><%= @course.owner_name %></td>
          </tr>
          <tr>
            <td>Từ ngày</td>
            <td><%= l @course.date_from, format: :date_month_year_v1 %></td>
          </tr>
          <tr>
            <td>Đến ngày</td>
            <td><%= l @course.date_to, format: :date_month_year_v1 %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
