<%= javascript_include_tag "admins/courses", "data-turbolinks-track": true %>
<% provide :title, "Danh sách thành viên" %>
<div class="clear-fix panel panel-default">
  <div class="panel-heading">Tìm kiếm</div>
  <div class="panel-body">
    <%= search_form_for [:admins, @search], class: "row col-md-offset-1", remote: true do |f| %>
      <div class="form-group col-md-6">
        <%= f.text_field :name_or_description_or_owner_name_cont,
          placeholder: "Nhập tên khóa học hoặc mô tả hoặc tên giáo viên để tìm kiếm",
          class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <%= f.select :status_eq,
          @statuses.collect {
            |value| [I18n.t("admin.courses.#{value[0]}"), value[1]]
          }, {include_blank: "Trạng thái"},
          class: "form-control" %>
      </div>
      <%= f.submit "Tìm kiếm", class: "btn btn-primary col-md-1" %>
      &nbsp;&nbsp;
      <%= link_to admins_courses_path do %>
        <i class="fa fa-refresh btn btn-success"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="row clear-fix col-center color-red" id="not-exist-teacher-register-courses">
    </div>
    <div class="table-responsive" id="list-teacher-register-courses-search">
      <%= render "table_course" %>
    </div>
  </div>
</div>
<div class="modal_show_details">
  <%= render "shared/model_show" %>
</div>
