<% provide :title, "Danh sách người dùng" %>

<%= link_to new_admins_user_path,
  class: "btn btn-sm btn-success" do %>
  <i class="gi gi-plus"></i>Thêm thành viên
<% end %>
<br>
<br>

<div class="clear-fix panel panel-default">
  <div class="panel-heading">Tìm kiếm</div>
  <div class="panel-body">
    <%= search_form_for [:admins, @search], class: "row col-md-offset-1", remote: true do |f| %>
      <div class="form-group col-md-6">
        <%= f.text_field :name_or_email_cont,
          placeholder: "Nhập tên hoặc email để tìm kiếm",
          class: "form-control" %>
      </div>
      <div class="form-group col-md-2">
        <%= f.select :role_eq,
          @roles.collect {
            |value| [I18n.t("admin.roles.#{value[0]}"), value[1]]
          }, {include_blank: "Quyền"},
          class: "form-control" %>
      </div>
      &nbsp;&nbsp;
      <%= link_to admins_users_path do %>
        <i class="fa fa-refresh btn btn-success" id="refresh-page-list-user"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="row clear-fix col-center color-red" id="not-exist-list-user">
  </div>
  <div class="col-md-12" id="list-user-search">
    <%= render "table_user" %>
  </div>
</div>
