<li>
  <div class="row col-md-12">
    <div class="col-md-2">
      <%= image_tag post.user.avatar.url, class: "width-100-pc img-circle" %>
    </div>
    <div class="col-md-8">
      <div><b><%= link_to post.title, members_user_post_path(@user, post) %></b></div>
      <div>
        Ngày: <%= l post.created_at, format: :date_month_year_v1 %>
      </div>
      <div style="color: #9b9b9b">
        <i class="fa fa-eye"></i> 72 &nbsp;&nbsp;&nbsp;
        <i class="fa fa-comment"></i> <%= post.comments.count %>
      </div>
      <% if current_user.present? %>
        <% if @user.is_user? current_user %>
          <div class="btn-group-xs">
            <%= link_to edit_members_user_post_path(@user, post), class: "btn btn-info" do %>
              Chỉnh sửa
            <% end %>
            <%= link_to members_user_post_path(@user, post),
              method: :delete, class: "btn btn-default", data: {confirm: "Bạn có chắc chắn muốn xóa không?"} do %>
              Xóa
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">&nbsp;
  </div>
</li>
<% unless @user.posts.last.id == post.id %>
  <div class="fix-clear row"><hr class="clear-fix"></div>
<% end %>
