<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<br>
<div class="row">
  <div class="col-md-8">
    <br>
    <% if @user.is_user? current_user %>
      <div class="row pull-right">
        <%= link_to new_members_user_post_path(@user),
          class: "btn btn-sm btn-success" do %>
          <i class="fa fa-pencil-square-o fa-fw"></i>Tạo bài viết
        <% end %>
      </div>
    <% end %>
    <br>
    <br>
    <br>
    <ul style="list-style-type: none">
      <%= render(@posts, posts: @posts) || "Dữ liệu không tồn tại" %>
    </ul>
    <center><%= paginate @posts %></center>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-3">
    <div class="border-profile-post row">
      <div class="row">
        <div class="col-md-6 margin-top-20 margin-left-10">
          <div>
            <%= image_tag @user.avatar.url, class: "width-100-pc border-radius-5" %>
          </div>
          <div class="clear-fix row margin-left-10">
            <% if current_user.present? %>
              <% if @user.is_user? current_user %>
                <%= link_to "Chỉnh sửa", edit_members_user_path(@user),
                  class: "col-md-10 btn btn-info btn-sm" %>
              <% else %>
                 <button class="col-md-10 btn btn-info btn-sm">Theo dõi</button>
              <% end %>
            <% else %>
              <button class="col-md-10 btn btn-info btn-sm">Theo dõi</button>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 margin-top-80">
          <div><%= link_to @user.name, members_user_posts_path(@user) %></div>
          <br>
          <div>
            <span><i class="fa fa-star"></i>20</span>&nbsp;
            <span><i class="fa fa-users"></i>10</span>&nbsp;
            <span><i class="fa fa-pencil"></i><%= @user.posts.count %></span>
          </div>
        </div>
      </div>

    </div>

    <br>
    <hr>
    <div class="margin-top-20"><h3>Xu hướng<h3></div>
    <br>
    <% Category.all.each do |category| %>
      <% if @posts.joins(:type, type: :category).where('types.category_id = ?', category.id).count > 0 %>
        <div class="row">
          <i class="color-blue margin-left-10"><%= category.name  %></i>
          <%= pie_chart @posts.joins(:type, type: :category).where('types.category_id = ?', category.id).group("types.name").count %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<br>
