<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= javascript_include_tag "members/posts", "data-turbolinks-track": true %>
<div class="row">
  <div class="col-md-8">
    <br>
    <% if current_user.present? %>
      <% if @user.is_user? current_user %>
        <div class="row pull-right">
          <%= link_to new_members_user_post_path(@user),
            class: "btn btn-sm btn-success" do %>
            <i class="fa fa-pencil-square-o fa-fw"></i>Tạo bài viết
          <% end %>
        </div>
      <% end %>
    <% end %>
    <br>
    <br>

    <div class="clear-fix row panel panel-default col-md-offset-1">
      <div class="panel-heading">Tìm kiếm</div>
      <div class="panel-body">
        <%= search_form_for [:members, @user, @search], remote: true,
          class: "row col-md-offset-1" do |f| %>
          <div class="form-group col-md-7">
            <%= f.text_field :title_cont,
              placeholder: "Nhập tên bài viết",
              class: "form-control" %>
          </div>
          <div class="form-group col-md-3">
            <%= f.select :type_id_eq,
              @types.collect {|value| [value.name, value.id]}, {include_blank: "Loại"},
              class: "form-control" %>
          </div>
          &nbsp;&nbsp;
          <%= link_to members_user_posts_path(@user) do %>
            <i class="fa fa-refresh btn btn-success"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <br>
    <div class="row clear-fix col-center color-red" id="not-exist-ul-post">
    </div>
    <div id="ul-post-search">
      <%= render "ul_post" %>
    </div>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-3">
    <div class="border-profile-post row">
      <div class="row">
        <div class="col-md-6 margin-top-20 margin-left-10">
          <div>
            <%= image_tag @user.avatar.url, class: "width-100-pc border-radius-5" %>
          </div>
          <div class="clear-fix row margin-left-10">
            <% if current_user.present? %>
              <% if @user.is_user? current_user %>
                <%= link_to "Chỉnh sửa", edit_members_user_path(@user),
                  class: "col-md-10 btn btn-info btn-sm" %>
              <% else %>
                 <button class="col-md-10 btn btn-info btn-sm">Theo dõi</button>
              <% end %>
            <% else %>
              <button class="col-md-10 btn btn-info btn-sm">Theo dõi</button>
            <% end %>
          </div>
        </div>
        <div class="col-md-5 margin-top-80">
          <div><%= link_to @user.name, members_user_posts_path(@user) %></div>
          <br>
          <div>
            <span><i class="fa fa-star"></i>20</span>&nbsp;
            <span><i class="fa fa-users"></i>10</span>&nbsp;
            <span><i class="fa fa-pencil"></i><%= @user.posts.count %></span>
          </div>
        </div>
      </div>

    </div>

    <br>
    <hr>
    <div class="margin-top-20"><h3>Thống kê<h3></div>
    <br>
    <% Category.all.each do |category| %>
      <% if @posts.joins(:type, type: :category).where('types.category_id = ?', category.id).count > 0 %>
        <div class="row">
          <i class="color-blue margin-left-10"><%= category.name  %></i>
          <%= pie_chart @posts.joins(:type, type: :category).where('types.category_id = ?', category.id).group("types.name").count %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<br>
