<div class="login-title text-center">
  <h1>
    <i class="gi gi-flash"></i>
    <strong><%= t "workspace"%> </strong>
    <br>
    <small>
      <%= t "please" %>
      <strong><%= t "login" %></strong>
      <%= t "or" %>
      <strong><%= t "register" %></strong>
    </small>
  </h1>
</div>
<!-- END Login Title -->

<!-- Login Block -->
<div class="block push-bit">
    <!-- Login Form -->
  <%= form_for resource, html: {class: "form-horizontal login-title", style: "background: white" },as: resource_name,
    url: session_path(resource_name) do |f| %>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-envelope"></i>
          </span>
          <div>
          <%= f.email_field :email, autofocus: true,
            class: "form-control", placeholder: "email" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="gi gi-asterisk"></i>
          </span>
          <%= f.password_field :password, autocomplete: "off",
            class: "form-control", placeholder: "password" %>
        </div>
      </div>
    </div>
    <div class="form-group form-actions">
      <div class="col-xs-6">
        <label class="switch switch-primary" data-toggle="tooltip" title="remember">
          <%= f.check_box :remember_me %>
          <span></span>
        </label>
        remember
      </div>
      <div class="col-xs-3 text-right">
        <%= f.submit "login", class: "btn btn-sm btn-primary" %>
      </div>
      <div class="col-xs-3 text-right">
        <%= link_to "" do %>
          <small><%= link_to "Sign up", new_registration_path(resource_name) %></small>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12 text-center">
        <%= link_to "" do %>
          <small><%= link_to t("forgot_password"), new_password_path(resource_name) %></small>
        <% end %>
      </div>
    </div>
  <% end %>
    <!-- END Login Form -->
</div>
<!-- END Login Block -->
