<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">new lesson</h3>
  </div>
  <div class="panel-body">
    <div class="container form-horizontal">
      <%= form_for [:teachers, @course, @lesson, @time_for_exam] do |f| %>
        <div class="form-group">
          <div class="col-md-offset-3">
            <%= render "shared/error_messages", object: f.object %>
          </div>
        </div>

        <div class="form-group">
            <%= f.label :time, class: "col-md-3  control-label" %>
            <div class="col-md-2 form-inline">
              <%= f.time_select :time, {ignore_date: true}, {class: "form-control"} %>
            </div>
        </div>

        <div class="form-group">
          <%= f.label :number_question, class: "col-md-3  control-label" %>
          <div class="col-md-5">
            <%= f.number_field :number_question, class: "form-control", min: 0 %>
          </div>
        </div>

        <div class="form-group" >
          <div class="col-md-5 col-md-offset-3">
            <%= f.submit yield(:button_text),
              class: "btn btn-primary form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
