<tr>
  <td>
    <%= current_index @courses.current_page, Settings.per_page.teachers.course,
      course_counter %>
  </td>
  <td><%= course.name %></td>
  <td><%= course.description %></td>
  <td>
    <% if course.image.present? %>
      <%= image_tag course.image.url, class: "height-80" %>
    <% end %>
  </td>
  <td><%= course.owner_id %></td>
  <td><%= course.approver_id %></td>
  <td>
    <span class="label <%= label_css(course) %>">
      <%= course.status %>
    </span>
  </td>
  <td>
    <div class="btn-group btn-group-xs">
      <%= render "shared/btn_show", object: course %>
      <% if course.pending? %>
        <%= link_to edit_teachers_course_path(course), class: "btn btn-warning" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to teachers_course_path(course),
          method: :delete, class: "btn btn-danger", data: {confirm: t("are_you_sure")} do %>
          <i class="fa fa-trash"></i>
        <% end %>
      <% elsif course.active? %>
        <%= link_to edit_teachers_course_path(course), class: "btn btn-warning" do %>
          <i class="fa fa-pencil"></i>
        <% end %>
        <%= link_to teachers_course_lessons_path(course), class: "btn btn-info" do %>
          <i class="fa fa-plus"></i>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>
