<% if @course.present? %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><%= t ".detail_information" %></h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <table class="table table-user-information">
          <tbody>
            <tr>
              <td>name</td>
              <td><%= @course.name %></td>
            </tr>
            <tr>
              <td>description</td>
              <td><%= @course.description %></td>
            </tr>
            <tr>
              <td>approve</td>
              <td><%= @course.approver_id %></td>
            </tr>
            <tr>
              <td>owner</td>
              <td><%= @course.owner_id %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  Error not found
<% end %>
