<% if @course.present? %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">Thông tin khóa học</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <table class="table margin-bottom-0">
          <tbody>
            <tr>
              <td>Tên</td>
              <td><%= @course.name %></td>
            </tr>
            <tr>
              <td>Mô tả</td>
              <td><%= @course.description %></td>
            </tr>
            <tr>
              <td>Người xác nhận</td>
              <td><%= @course.approver.name if @course.approver_id.present? %></td>
            </tr>
            <tr>
              <td>Người tạo khóa học</td>
              <td><%= @course.owner.name %></td>
            </tr>
            <tr>
              <td>Từ ngày</td>
              <td><%= l @course.date_from, format: :date_month_year_v1 %></td>
            </tr>
            <tr>
              <td>Đến ngày</td>
              <td><%= l @course.date_to, format: :date_month_year_v1 %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>
  Lỗi không tìm thấy
<% end %>
