<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><center><%= yield(:title) %></center></h3>
  </div>
  <div class="panel-body">
    <div class="container form-horizontal">
      <%= form_for [:teachers, @course] do |f| %>

        <div class="row" style="margin-bottom: 13px">
          <div class="col-md-3">
            <label class="pull-right" style="line-height: 34px; height: 34px">Danh mục</label>
          </div>
          <div class="col-md-5">
            <select id="category-id" class="form-control">
              <% @categories.each do |category|  %>
                <option value="<%= category.id %>"
                  <% if @category_.present? && @category_.id == category.id %>
                    selected="selected"
                  <% end %>
                  ><%= category.name %></option>
              <% end %>
            </select>
          </div>
        </div>

        <div id="types">
          <div class="form-group">
            <%= f.label :type, value: "Loại", class: "col-md-3 control-label" %>
            <div class="col-md-5">
              <%= f.select :type_id, @types.collect {|c| [c.name, c.id]},
                {}, {class: "form-control"} %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :name, value: "Tên",class: "col-md-3 control-label" %>
          <div class="col-md-5">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <% if f.object.errors[:name].present? %>
          <% f.object.errors[:name].each do |error| %>
            <div class="form-group">
              <div class="col-md-offset-3 color-red padding-left-15">
                Tên <%= error %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="form-group">
          <%= f.label :description, value: "Mô tả", class: "col-md-3  control-label" %>
          <div class="col-md-5">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>

        <% if f.object.errors[:description].present? %>
          <% f.object.errors[:description].each do |error| %>
            <div class="form-group">
              <div class="col-md-offset-3 color-red padding-left-15">
                Mô tả <%= error %>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="form-group">
          <%= f.label :image, value: "Ảnh", class: "col-md-3  control-label" %>
          <div class="col-md-5">
            <%= f.file_field :image, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :date_from, value: "Từ ngày", class: "col-md-3  control-label" %>
          <div class="col-md-2">
            <%= f.text_field :date_from, class: "form-control datepicker" %>
          </div>

          <div class="col-md-1 center-text-by-form"><strong>Đến ngày</strong></div>
          <div class="col-md-2">
            <%= f.text_field :date_to, class: "form-control datepicker" %>
          </div>
        </div>

        <% if f.object.errors[:date_register_blank].present? %>
          <div class="form-group">
            <div class="col-md-offset-3 color-red padding-left-15">
              <%= f.object.errors[:date_register_blank][0] %>
            </div>
          </div>
        <% end %>

        <% if f.object.errors[:errors].present? %>
          <div class="form-group">
            <div class="col-md-offset-3 color-red padding-left-15">
              <%= f.object.errors[:errors][0] %>
            </div>
          </div>
        <% end %>

        <%= f.fields_for :timesheets do |ff| %>
          <div class="timesheets-form">
            <div class="form-group">
              <%= ff.label :day_name, value: "Thứ", class: "col-md-3  control-label" %>
              <div class="col-md-5">
                <%= ff.select :day_name,
                  Timesheet.day_names.collect{|k| [I18n.t("form.date_name.#{k[0]}"), k[0]]},
                  {}, class: "form-control selectpicker" %>
              </div>
            </div>

            <div class="form-group">
              <%= ff.label :time_from, value: "Thời gian từ", class: "col-md-3  control-label" %>
              <div class="col-md-2 form-inline">
                <%= ff.time_select :time_from, {ignore_date: true}, {class: "form-control"} %>
              </div>

              <div class="col-md-1"><strong>Thời gian đến</strong></div>
              <div class="col-md-2 form-inline">
                <%= ff.time_select :time_to, {ignore_date: true}, {class: "form-control"} %>
              </div>
              <span class="center-text-by-form"><%= link_to_remove_fields "Xóa", ff %></span>
            </div>

            <% if f.object.errors[:time].present? && f.object.errors[:time][0].present? %>
              <div class="form-group">
                <span class="col-md-offset-3 col-md-5 color-red"><%= f.object.errors[:time][0][ff.index] if f.object.errors[:time][0][ff.index].present? %></span>
              </div>
            <% end %>

            <% if f.object.errors[:time_register].present? && f.object.errors[:time_register][0].present? %>
              <% if f.object.errors[:time_register][0][1] == ff.index %>
                <div class="form-group">
                  <span class="col-md-offset-3 col-md-5 color-red">
                    <%= f.object.errors[:time_register][0][0] %>
                  </span>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>

        <div class="form-group add-timesheet row">
          <div class="col-md-offset-2">
            <%= link_to_add_fields "Thêm", f, :timesheets,
              class: "btn btn-primary fa fa-plus" %>
          </div>
        </div>

        <div class="form-group" >
          <div class="col-md-5 col-md-offset-3">
            <%= f.submit yield(:button_text),
              class: "btn btn-primary form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
