<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">new course</h3>
  </div>
  <div class="panel-body">
    <div class="container form-horizontal">
      <%= form_for [:teachers, @course] do |f| %>
        <div class="form-group">
          <div class="col-md-offset-3">
            <%= render "shared/error_messages", object: f.object %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :category, class: "col-md-3 control-label" %>
          <div class="col-md-5">
            <%= f.select :category_id, @categories.collect {|c| [c.name, c.id]},
              {}, {class: "form-control"} %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :name, class: "col-md-3 control-label" %>
          <div class="col-md-5">
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: "col-md-3  control-label" %>
          <div class="col-md-5">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :image, class: "col-md-3  control-label" %>
          <div class="col-md-5">
            <%= f.file_field :image, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :date_from, class: "col-md-3  control-label" %>
          <div class="col-md-2">
            <%= f.text_field :date_from, class: "form-control datepicker" %>
          </div>

          <div class="col-md-1" style="text-center">Date to</div>
          <div class="col-md-2">
            <%= f.text_field :date_to, class: "form-control datepicker" %>
          </div>
        </div>

        <%= f.fields_for :timesheets do |ff| %>
          <div class="timesheets-form">
            <div class="form-group">
              <%= ff.label :day_name, class: "col-md-3  control-label" %>
              <div class="col-md-5">
                <%= ff.select :day_name, Settings.format_date_name, {},
                  class: "form-control selectpicker" %>
              </div>
            </div>

            <div class="form-group">
              <%= ff.label :time_from, class: "col-md-3  control-label" %>
              <div class="col-md-2 form-inline">
                <%= ff.time_select :time_from, {ignore_date: true}, {class: "form-control"} %>
              </div>

              <div class="col-md-1">Time to</div>
              <div class="col-md-2 form-inline">
                <%= ff.time_select :time_to, {ignore_date: true}, {class: "form-control"} %>
              </div>
              <%= link_to_remove_fields "remove", ff %>
            </div>
          </div>
        <% end %>

        <div class="form-group add-timesheet">
          <%= link_to_add_fields "add", f, :timesheets,
            class: "btn btn-primary fa fa-plus" %>
        </div>


        <div class="form-group" >
          <div class="col-md-5 col-md-offset-3">
            <%= f.submit yield(:button_text),
              class: "btn btn-primary form-control" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
