<% provide :title, t("list_user") %>
<%= link_to new_teachers_course_path,
  class: "btn btn-md btn-success" do %>
  <i class="gi gi-plus"></i> add course
<% end %>
<br>
<br>

<div class="modal_show_details">
  <%= render "shared/model_show" %>
</div>

<div class="row">
  <% @courses.each do |course| %>
    <div class="col-sm-6 col-md-4 ">
      <div class="thumbnail product">
        <div class="caption">
          <div class="img-caption" >
            <% if course.image.present? %>
              <%= link_to image_tag(course.image.url),
                teachers_course_lessons_path(course),
                class: "widget widget-hover-effect4 themed-background" %>
            <% end %>
          </div>
          <div class="desc">
            <%= course.name %>
            <%= render "shared/btn_show", object: course %>
           <%= link_to edit_teachers_course_path(course), class: "btn btn-warning btn-sm" do %>
              <i class="fa fa-pencil">Chỉnh sửa</i>
            <% end %>
            <%= link_to teachers_course_path(course),
              method: :delete, class: "btn btn-danger", data: {confirm: "Bạn có chắc chắn muốn xóa không ?"} do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </div>
          <div class="row">
            <%= link_to "Danh sách học viên",
              teachers_course_user_courses_path(course),
                class: "btn btn-primary btn-sm col-md-5" %>
            <span class="col-md-1"></span>
            <% if course.active? %>
              <button type="button" class="register-course btn btn-warning col-md-5 btn-sm"
                data-toggle="modal" data-target="#add-time-register-course-<%= course.id %>">
                <i class="gi gi-plus"></i>
                Thời gian mở lớp
              </button>
              <!-- modal -->
                <div id="add-time-register-course-<%= course.id%>" class="modal fade" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;
                        </button>
                        <h4 class="modal-title">list member</h4>
                      </div>
                      <br>
                      <div class="clear-float">
                        <%= form_for [:teachers, course, load_register_course(course)], remote: true do |f| %>
                          <%= render "shared/error_messages", object: load_register_course(course) %>
                          <div class="form-group">
                            <%= f.label :date_open, t(".date_open"), class: "field-compulsory-before" %>
                            <div>
                              <%= f.text_field :date_open,
                                value: (l @register_course.date_open, format: :format_datetime_picker_rb if @register_course.date_open.present?),
                                class: "form-control datetimepicker", required: true %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= f.label :date_close, t(".date_close"), class: "field-compulsory-before" %>
                            <div>
                               <%= f.text_field :date_close,
                                value: (l @register_course.date_open, format: :format_datetime_picker_rb if @register_course.date_open.present?),
                                class: "form-control datetimepicker", required: true %>
                            </div>
                          </div>
                          <div class="form-group">
                            <%= f.submit "Tạo", class: "btn btn-primary" %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              <!-- modal end -->
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


