<%= link_to new_teachers_course_path,
  class: "btn btn-md btn-success" do %>
  <i class="gi gi-plus"></i>Thêm khóa học
<% end %>
<br>
<br>

<div class="clear-fix row">
  <%= search_form_for [:teachers, @search], remote: :true, class: "row col-md-offset-2"  do |f| %>
    <div class="form-group col-md-8">
      <%= f.text_field :name_cont,
        placeholder: "Nhập tên bài học",
        class: "form-control" %>
    </div>
    <div class="col-md-1 btn btn-success" id="refresh-page-course"><i class=" fa fa-refresh"></i></div>
  <% end %>
</div>

<div class="row clear-fix col-center color-red" id="not-exist-course">
</div>

<div class="row" id="list-course-search">
  <%= render "course" %>
</div>

<center id="load-page-course"><%= paginate @courses %></center>
