<% provide :title, "Thông tin cá nhân" %>
<div class="panel-content margin-top-20">
  <div class="panel panel-info">
    <div class="panel-heading">
      <center>
        <h3 class="panel-title">
          Thông tin cá nhân
        </h3>
      </center>
    </div>
    <br>
    <br>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4" align="center">
          <%= image_tag @user.avatar.url, class: "height-250 width-250" %>
        </div>
        <div class="col-md-8 ">
          <table class="table table-hover">
            <tbody>
              <tr>
                <td>
                  <strong>
                    <i class="gi gi-user"></i> Tên
                  </strong>
                </td>
                <td><%= @user.name %></td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <i class="gi gi-envelope"></i> Email
                  </strong>
                </td>
                <td><%= @user.email %></td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <% if @user.male? %>
                      <i class="gi gi-male"></i>
                    <% elsif @user.female? %>
                      <i class="gi gi-female"></i>
                    <% end %>
                    Giới tính
                  </strong>
                </td>
                <td><%= I18n.t "user.gender.#{@user.gender}" %></td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <i class="hi hi-earphone"></i> Số điện thoại
                  </strong>
                </td>
                <td><%= @user.number_of_phone %></td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <i class="gi gi-home"></i> Địa chỉ
                  </strong>
                </td>
                <td><%= @user.address %></td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <i class="gi gi-group"></i> Quyền
                  </strong>
                </td>
                <td><%= I18n.t "user.role.#{@user.role}" %></td>
              </tr>
              <tr>
                <td>
                  <strong>
                    <i class="gi gi-birthday_cake"></i> Ngày sinh
                  </strong>
                </td>
                <td><%= l @user.birthday, format: :date_month_year_v1 if @user.birthday.present? %></td>
              </tr>
            </tbody>
          </table>
          <% if current_user.present? %>
            <% if @user.is_user? current_user %>
              <%= link_to "Thay đổi mật khẩu", edit_user_registration_path,
                class: "btn btn-primary" %>
              <%= link_to "Chỉnh sửa thông tin",
                edit_members_user_path(current_user), class: "btn btn-primary" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

