<tr>
  <td>
    <%= current_index @exams.current_page, Settings.per_page.members.exam,
      exam_counter %>
  </td>
  <td><%= l exam.lesson.time_for_exam.time, format: :format_time %></td>
  <td><%= exam.score.present? ? exam.score : "0" %>/<%= exam.lesson.time_for_exam.number_question %></td>
  <td><%= l exam.created_at, format: :date_month_year_v1 %></td>
  <td><%= I18n.t "exam.#{exam.status}" %></td>
  <td>
    <%= link_to members_course_lesson_exam_path(@course, @lesson, exam) do %>
      <i class="fa fa-newspaper-o"></i>
    <% end %>
  </td>
</tr>
