<div class="row margin-top-20 margin-bottom-20">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-info">
      <div class="panel-heading">
        <center><h3 class="panel-title">Bài kiểm tra</h3></center>
      </div>
      <div class="panel-body">
        <div>
          <%= form_for [:members, @course, @lesson, @exam] do |f| %>

            <div class="form-group">
              <center>
                <span><h4>Chủ đề: <%= @exam.name %></h4></span>&nbsp;&nbsp;&nbsp;
                <span><i>Thời gian: <%= l @exam.lesson.time_for_exam.time, format: :format_time %></i></span>
              </center>
            </div>

            <%= f.fields_for :results do |ff| %>
              <div class="clear-fix answers-form">
                <div class="form-group">
                  <div class="panel panel-default">
                    <div class="panel-heading">Câu <%= ff.index + 1 %>: &nbsp;<%= ff.object.question.name %></div>
                    <div class="panel-body">
                      <% count = ff.object.question.answers.select{|k| k.is_correct == true} %>
                      <% if count.length > 1 %>
                        <ol class="upper-alpha">
                        <%= ff.collection_check_boxes(:answer_ids, ff.object.question.answers, :id, :name) do |k| %>
                          <li>
                            <% if ff.object.answer_ids.reject(&:blank?).map(&:to_i).include? k.object.id %>
                              <%= k.label(class: "font-weight-default") {k.check_box(checked: true, disabled: "disabled", class: "margin-right-10") + k.text} %>
                            <% else %>
                              <%= k.label(class: "font-weight-default") {k.check_box(disabled: "disabled", class: "margin-right-10") + k.text} %>
                            <% end %>
                            &nbsp;&nbsp;
                            <% if k.object.is_correct.eql?(true) %>
                              <span class="label label-success">Đúng</span>
                            <% else %>
                              <span class="label label-danger">Sai</span>
                            <% end %>
                          </li>
                        <% end %>
                        </ol>
                      <% else %>
                        <ol class="upper-alpha">
                          <% ff.object.question.answers.each do |answer| %>
                            <li>
                              <% if ff.object.answer_ids.reject(&:blank?).map(&:to_i).include? answer.id %>
                                <input type="radio" value="<%= answer.id %>" name="exam[results_attributes][<%= ff.index %>][answer_ids][]" id="exam_results_attributes_<%= ff.index %>_answer_ids_<%= answer.id %>" disabled="disabled" checked="checked">
                              <% else %>
                                <input type="radio" value="<%= answer.id %>" name="exam[results_attributes][<%= ff.index %>][answer_ids][]" id="exam_results_attributes_<%= ff.index %>_answer_ids_<%= answer.id %>" disabled="disabled">
                              <% end %>
                              &nbsp;&nbsp;
                              <%= answer.name %>
                              &nbsp;&nbsp;
                              <% if answer.is_correct.eql?(true) %>
                                <span class="label label-success">Đúng</span>
                              <% else %>
                                <span class="label label-danger">Sai</span>
                              <% end %>
                            </li>
                          <% end %>
                        </ol>
                      <% end %>

                      <div class="padding-left-15 font-size-16">
                        <span class="color-red">Kết quả :</span>
                        <% if ff.object.is_correct.eql?(true) %>
                          <span class="label label-success">Đúng</span>
                        <% else %>
                          <span class="label label-danger">Sai</span>
                        <% end %>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
