<!DOCTYPE html>
<html>
  <head>
    <title>ElearningV1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <% unless user_signed_in? %>
      <%= render "layouts/sign_in_modal" %>
    <% end %>
    <br>
    </br>
    <br>
    </br>


    <br>
    </br>
    <%= render "layouts/footer" %>
  </body>
</html>
