<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application",
      "data-turbolinks-track": "reload" %>

  </head>
  <body>
    <div id="login-background">
      <%= image_tag "bg-elearning.jpg", class: "animation-pulseSlow" %>
    </div>

    <div id="login-container" class="animation-fadeIn" style="border: 1px solid rgba(6, 6, 6, 0.31);">
      <%= render "shared/flash" if flash[:alert] || flash[:notice] %>
      <%=  yield %>
      <!-- Footer -->
      <!-- END Footer -->
    </div>
  </body>
</html>
